In [2]:
if x > 5:
    print('yes')

yes

In [3]:
print(x if x > 11 else (11-x))

1

In [20]:
def number(x):
    if x > 5:
        print(f'{x} is greater than 5')
    elif x == 5:
        print(f'{x} is 5')
    else:
        print(f'{x} is less than 5')

In [14]:
number(7)

number is greater than 5

In [15]:
import numpy as np
d = np.random.rand(100)

In [29]:
fruits

['w', 'e', 'r']

In [30]:
lst = ['r','h','d']

In [31]:
for f, l in zip(fruits,lst):
    print(f,l)

w r
e h
r d

In [32]:
for x in sorted(zip(fruits,lst)):
    print(x)

('e', 'h')
('r', 'd')
('w', 'r')

In [36]:
import pandas as pd

data = {
    "name" : ['Alice','bob','charlie'],
    'age' : [30,20,10]
}

df = pd.DataFrame(data, index = [1,2,3])

In [37]:
df

      name  age
1    Alice   30
2      bob   20
3  charlie   10

In [40]:
for index, row in df.iterrows():
    print(index, row)

1 name    Alice
age        30
Name: 1, dtype: object
2 name    bob
age      20
Name: 2, dtype: object
3 name    charlie
age          10
Name: 3, dtype: object

In [46]:
def add(x,y):
    summ = x + y
    return summ

In [47]:
add(1,2)

3

In [1]:
def factorial(n):
    if n == 0:
        return 1
    else:
        value = 1
        for x in range(n-1):
            value = value * (n-x)
        return value

In [11]:
def pal_check(wrd):
    if wrd == wrd[::-1]:
        print("word is a palindrome")
    else:
        print("word is not a palindrome")

In [24]:
def fib(n):
    if n == 0:
        return []
    elif n == 1:
        return [0]
    else:
        seq = [0,1]
        while len(seq) != n:
            last = len(seq) - 1
            seq.append(seq[last] + seq[last - 1])
        return seq

In [27]:
def summ(ns):
    val = 0
    for n in ns:
        val += n
    return val

In [30]:
def minmax(ns):
    min = ns[0]
    max = ns[0]
    for n in ns:
        if n < min: min = n
        elif n > max: max = n
    return (min,max)

In [10]:
def vowel_count(strg):
    num = 0
    vwls = ['a','e','i','o','u']
    for char in strg.casefold():
        if char in vwls:
            num +=1
    return num

In [14]:
def list_merger(lst_1,lst_2):
    for item in lst_2:
        if not item in lst_1:
            lst_1.append(item)
    return lst_1

In [16]:
l1 = [1,2,3,4,5,6,'w','r','y']
l2 = [1,2,3,4,5,6,7,8,9,'l','o','p','w','r','y']
list_merger(l1,l2)

[1, 2, 3, 4, 5, 6, 'w', 'r', 'y', 7, 8, 9, 'l', 'o', 'p']